
*.gz

*.fasta

*.Rproj.user

*.RData

*.Rhistory

*.dmg

*.fq

*.h5

*.h5

*.json

analysis/Kallisto/transcriptome1

analysis/Differential Expression/.RData

analysis/Differential Expression/.RData

analysis/Differential Expression/.RData

analysis/Trinity/transcriptome2.fasta.flat

analysis/Trinity/transcriptome2.fasta.gdx

*.h5
.Rproj.user
